*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111;
    overflow: hidden;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}

.sq
{
    height: 16px;
    width: 16px;
    margin: 2px;
    background-color: #1d1d1d;
    transition: 2s ease;
}

.sq:hover
{
    transition-duration: 0s;
}